<div class="d-flex flex-wrap gap-1 my-2">
    <a href="{% url 'jobs:quick_load_posting' %}" class="btn btn-outline-secondary btn-sm">Quick Load Posting</a>
    <a href="{% url 'operations:planning_job_list' %}" class="btn btn-outline-secondary btn-sm">Trailer Planning</a>
    <a href="{% url 'operations:placement_job_list' %}" class="btn btn-outline-secondary btn-sm">Trailer Placement</a>
    <a href="{% url 'tracking:vehicle_status_list' %}" class="btn btn-outline-secondary btn-sm">Veh Status Update</a>
    <a href="{% url 'operations:trailer_attendance' %}" class="btn btn-outline-secondary btn-sm">Trailer Attendance</a>
    <a href="{% url 'tracking:pod_list' %}" class="btn btn-outline-secondary btn-sm">POD Update</a>
</div>
